@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-bold";
  src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
